<div class="hero d-flex align-items-center">
  <div class="container d-block">
      <div class="row d-flex">
              <div class="card-body p-4">
                  <p class="font-weight-bold"></p>
                  <h4 class="mt-2 mb-4 pb-2 text-center">
                      <span class="font-weight-bold">Welcome!</span>
                  </h4>
                  <div class="form-group mb-3 text-center">
                      <a routerLink="/login" class="btn btn-primary text-white px-5">Register</a>
                  </div>
              </div>
      </div>
  </div>
</div>